<!-- <div class="col">
    <div class="container col_data"> -->


<!-- <div class="row">
            <div class="col">
                <button class="btn btn-secondary" type="button" (click)="showLogin()">Login</button>
                <button class="btn btn-secondary" type="button" (click)="showSignup()">SignUp</button>
            </div>
        </div> -->
<!-- <div *ngIf="showSignUp"> -->
<div class="container col_data ">
    <form #frm="ngForm" (ngSubmit)="frm.valid && onSubmit(frm)">
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group">
                    <label class="font-weight-bold">First Name</label>
                    <input type="text" class="form-control" name="fname" ngModel #fname="ngModel" required
                        [ngClass]="{'is-invalid': frm.submitted && fname.invalid}" />


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group ">
                    <label class="font-weight-bold">Last Name</label>
                    <input type="text" class="form-control" name="lname" ngModel #lname="ngModel" required
                        [ngClass]="{'is-invalid': frm.submitted && lname.invalid}" />

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group">
                    <label class="font-weight-bold">Email Id</label>
                    <input type="text" class="form-control" name="Email" ngModel #Email="ngModel" required
                        [ngClass]="{'is-invalid': frm.submitted && Email.invalid}"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                    <div *ngIf="frm.submitted && Email.invalid" class="invalid-feedback">
                        <div *ngIf="Email.errors?.required">Email is required</div>
                        <div *ngIf="Email.errors?.pattern">Please enter valid email pattern
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary" button type="submit">
                    Sign Up
                </button>

            </div>
        </div>
    </form>
</div>
<!-- </div> -->