<div class="content">

    <div class="horizontal_divider">
        <div class="row">
            <div>
                <img src="../../../assets/Center_image_old (1).jpg" alt="">
            </div>
        </div>
        <div class="row bgcolorrow">
            <h3>Contact</h3>
            <div class="col-sm-7 textjustify">
                <a href="#"><i>For General Filing and Court Related Information</i></a>
                <p>
                    <span ></span>For Technical Support, Please call 800-207-6807</p>
            </div>
        </div>
    </div>
</div>