<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <img src="../../assets/e_Filing_logo.jpg" alt="logo">
    <img src="../../assets/final-logo.png" alt="logo">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav header-menu">
        <li class="nav-item ">
          <a class="nav-link padding-side text-white" routerLinkActive="active" routerLink="/home">
            FAQ's</a>
        </li> <span style="color: #ffffff;margin-top: 2px;">|</span>
        <li class="nav-item">
          <a class="nav-link padding-side text-white" routerLinkActive="active"  routerLink="/Contact">
            Contact </a>
        </li> <span style="color: #ffffff;margin-top: 2px;">|</span>
        <li class="nav-item ">
          <a class="nav-link demo-button padding-side text-white" routerLinkActive="active" routerLink="/ViewDemo">View
            Demo</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="subheader-menu">
    <nav class="navbar navbar-expand-lg navbar-light btn-secondary p-0">
      <ul class="navbar-nav menu-section">
        <li class="nav-item ">
          <a class="nav-link padding-side text-white"routerLink='/Home'>Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link padding-side text-white" routerLink='/AboutUs'>About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link padding-side text-white" href="../../assets/How-To-Guide.pdf" target="_blank">How to Guide</a>
        </li>
      </ul>
    </nav>

  </div>
</header>