
<footer class="footerdata">
    <div class="row rowcls">
        <div class="col col123">
            <a> <img src="../../assets/Home_icon.jpg" alt=""></a>
            
                6464 Hollister Suite 7G&nbsp;
                <br>
                Goleta, CA 93117
                <br>
            
        </div>
        <div class="col col123">
            <img src="../../assets/Phone_icon.jpg" alt="">
            
                For Technical Support<br>
                800-207-6807<br> Monday-Friday <br>
                8.00 AM to 5.00 PM
        </div>
        <div class="col col123">
            <img src="../../assets/email_icon.jpg" alt="">
            
                Technical

                Support
        </div>

    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2015
        <a href="https://mdbootstrap.com/">e-filling.com</a>
    </div>
    <!-- Copyright -->
</footer>