<!-- <div class="divcls">
    <div class="container-fluid top">
        <div class="container text-right">
            <ul class="my-nav" style=" list-style-type: none;">
                <li>
                    <a href="mailto:tech@e-filing.com?subject=E-Filing Technical Support">
                        <img src="../../../assets/viewdemo/email_icon.jpg" />
                    </a>
                </li>

                <li> <a href="#"><img src="../../../assets/viewdemo/Phone_icon.jpg" /></a></li>
                <li>
                    <h6><b>Technical Support 800-207-6807</b> </h6>
                </li>
            </ul>
        </div>
    </div>
    <div class="banner-landing">
        <div class="container">
            <h2>Electronic Filing <br />Legal Services</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="">
            <div class="col-md-8 well col-md-offset-2 col-xs-12">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <h3 class="text-center"><b>E-Filing FAQ’s</b></h3>
                </div><br>
                <div class="row text-center">
                    <div class="col-md-12 col-md-offset-0">What fuels the decision making process of the justice system
                        is the exchange and consideration of information between parties and the court. Traditionally,
                        information has been exchanged by using paper documents. Documents are filed with the court and
                        served on all parties. It is now technologically feasible to exchange documents electronically
                        instead of in paper form. There are significant advantages to the electronic exchange of
                        documents. The process of electronically filing documents in a court setting is commonly
                        referred to as electronic filing, or e-filing. </div>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="text-justify col-sm-6" style="padding: 2%; border-right: 1px solid #ddd;">
                        <h4 class="head-text">What is the E-Filing System?</h4>
                        The E-Filing System allows registered users to file cases and documents electronically in courts
                        participating in the program. The goal of the system is to enable attorneys and court clerks to
                        work more efficiently by reducing the time and effort they spend managing case files, which
                        ultimately will save them time, money and resources. Electronic filing allows subscribers to
                        file and view cases seven days a week, 24 hours a day.<h4 class="head-text">How does electronic
                            filing benefit attorneys?</h4>
                        Benefits of electronic filing for attorneys include saving time, gas and money – a “going green”
                        approach. Other benefits to using the electronic filing system include:
                        <ul>
                            <li> Ability to file and view cases or documents outside of regular business hours.</li>
                            <li>Electronic service to other registered users.</li>
                            <li>Ability to receive notices, orders and judgments from the court electronically.</li>
                            <li>Elimination of courier fees.</li>
                            <li> Reduction of postage or overnight delivery expenses.</li>
                            <li>Reduction of office supplies and photocopies.</li>
                            <li>Less space needed for file rooms.</li>
                        </ul>
                        <p></p>
                    </div>
                    <div class="col-sm-6 text-justify" style="padding:2%;">
                        <h4 class="head-text"> How does electronic filing benefit courts?</h4>
                        Courts will see benefits that include:
                        <ul>
                            <li>Reduced file storage.</li>
                            <li>Reduced delays in retrieving court records.</li>
                            <li>Electronic and automated docketing and scheduling.</li>
                            <li>Ability to view electronically filed or scanned cases anytime during the day without
                                searching for the physical case file.</li>
                        </ul>

                        <h4 class="head-text"><br><br>Who can use the E-Filing System</h4>
                        Any attorney in good standing can file a case or document via the E-Filing System. The attorney
                        will be required to register with the courts and maintain name, address and e-mail information.
                        <h4 class="head-text">What is the Cost of the court for E-filing?</h4>
                        There is no cost to the court for using Image-X’s e-filing portal.
                    </div>

                    <div id="popupdiv" title="Basic modal dialog" style="display:none; width:auto">
                        <b> Thank You,Representative will contact you within 3-5 business days!!!</b>
                    </div>
                    <hr>

                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="col-md-12">
                    <div class="col-md-4 text-center">
                        <h4 class="head-text">Does Efiling require an annual commitment from the court?</h4>
                        There is no annual commitment, the court can stop using e-filing.com at any time.

                    </div>
                    <div class="text-center col-sm-4">
                        <h4 class="head-text">What other products has Image-X produced for the courts?</h4>
                        Image-X has also developed clerkepass.com a secure portal for requesting certified documents
                        from the court.
                    </div>

                    <div class="text-center col-sm-4">
                        <h4 class="head-text">How long after filing a case does it reach the court? Overall time?</h4>
                        After a case is filed on e-filing.com the case is instantly<br>
                        transferred to the court.

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <p>Copright Image-X Enterprices Inc. 2021. All Rights Reserved.</p>
           
        </div>
    </footer>
</div> -->