.textboxwidth
{
  width:10%;
  
}
.row
{
  padding-top: 20px;
}
/* .btn
{
  margin-left: 0%;
} */
.txt{
 font-size: small;
}
.textboxwidth1
{
  margin-left: 52%;
  width:10%;

}
.backcolor
{
  background-color:gainsboro;
}